body {

    background-color: darkred;

    text-align: center;

}

.sources {

    text-align: left;

    display: block;
    margin: auto auto auto 20%;

    @font-face {
        font-family: Quicksand;
        src: url(Quicksand Regular 400.ttf);
    }

    font-family: Quicksand;
    font-size: 200%;

}

.henry {

    border: 5px solid rgb(255, 191, 0);

    border-radius: 5%;

}
